@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
}

* {
    font-family: "Comfortaa";
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #cfbfb2;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(160, 130, 93);
        box-shadow: inset 5px 0px 6px rgba(0, 0, 0, 0.3);
        border-radius: 17px;
        // outline: 1px solid slategrey;
    }
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    & img {
        filter: brightness(40%);
    }
    &_box {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;

        &_title {
            color: #f0e1d6;
            font-size: 150px;
            text-shadow: 0.1em 0 rgb(85, 85, 85);
            user-select: none;
        }
    }
}

.list_books {
    display: grid;
    margin: 0 35px 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-column-gap: 65px;
    grid-row-gap: 40px;
    user-select: none;
    justify-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .search {
        & img {
            width: 100%;
        }
    }

    .search_box_title {
        font-size: 120px;
    }
    .list_books {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0 30px 40px;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search {
        & img {
            width: 100%;
        }
    }

    .search_box_title {
        font-size: 80px;
    }
    .list_books {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // margin: 0 30px 30px;
        grid-row-gap: 25px;
        // grid-column-gap: 40px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .search {
        & img {
            width: 100%;
        }
    }

    .search_box_title {
        font-size: 45px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .search {
        & img {
            width: 100%;
        }
    }

    .search_box_title {
        font-size: 30px;
    }

    .list_books {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 25px;
        
    }
}
